.table-view .column-header .label
{
    -fx-text-fill: #016d48;
    -fx-alignment: CENTER;
    -fx-font-size: 20px;
}

/* color de fondo para cuando el raton este sobre la celda*/
.table-cell:hover {
//-fx-background-color: #9900ff;
}

.table-row-cell
{
    -fx-background-color: #fff;
}

/*Diseño de la Celds del Tableview*/
.table-cell
{
    -fx-font-size: 15px;
    -fx-text-fill: #016d48;
}

/* color de una fila seleccionada por el usuario*/
.table-view:row-selection .table-row-cell:filled:selected {
    -fx-background-color: #017a54;
}

.table-view:focused .table-row-cell:selected .table-cell
{
    -fx-text-fill: white;
}

.jfx-text-field{
    -fx-border-style: white;
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
    -jfx-focus-color : white;
    -fx-text-fill: white;
}

.jfx-button{
    -fx-background-color: white;
    -fx-text-fill: #016d48;
}

.jfx-buttonC{
    -fx-background-color: transparent;
    -fx-text-fill: #016d48;
}

