.jfx-text-field{
    -jfx-focus-color : #01704b;
}

.jfx-button:hover{
    -fx-border-radius: 20;
    -fx-background-color: "#01704b";
    -fx-text-fill: white;
    -fx-background-radius: 22;
}

.jfx-button:pressed{
    -fx-border-radius: 20;
    -fx-background-color: "#01704b";
    -fx-text-fill: white;
    -fx-background-radius: 22;
}